@model IEnumerable<GroceryClientApp.Models.Receipt>

@{
    ViewData["Title"] = "GetMyOrders";
    Layout = "_LayoutUser";
}

<h1>My Orders</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ReceiptDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.grocery.GroceryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.grocery.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReceiptDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.grocery.GroceryName)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.grocery.Price)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
          
        </tr>
}
    </tbody>
</table>

<div>
    <a asp-controller="Grocery" asp-action="Menu">Back to Menu</a>
</div>
